
AuthType Basic
AuthName "restricted area"
AuthUserFile /var/lib/openshift/55e3d0f72d5271045500020e/app-root/runtime/repo.htpasswd
require valid-user

RewriteEngine on
RewriteBase /
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA] 

